<div class="pull-right">
{% if kommune.getTidligere()|length > 0 %}
    <div class="autoshrink">
        <small>tidligere
            {% for tidligere in kommune.getTidligere() %}
                {{ tidligere.getNavn() }}{{ not loop.last ? ', ' }}
            {% endfor %}
        </small>
    </div>
{% endif %}
</div>
<div class="pull-left">
    <div class="autoshrink bold">
        {{ kommune.getNavn() }}
    </div>
</div>
<div class="clearfix"></div>