{% include "UKMDeltaBundle:Geo:kommune.html.twig" %}

<div class="noArrangement" style="display:none;">
    <p class="mt-1">
        Beklager, det er ikke registrert info om UKM
        {{ kommune.getNavn() }}
        enda.
    </p>
    <a href="{{ kommune.getLink() }}" class="btn btn-outline-primary btn-block white mt-2">Kontakt oss</a>
</div>