{% include "UKMDeltaBundle:Geo:kommune.html.twig" %}
<div class="visKommuner" style="display:none;">
    <p>
    Hvilken {{ kommune.getFylke().erOslo() ? 'bydel' : 'kommune'}} er du fra?
    </p>
    {% for velg_kommune in kommune.getAttr('arrangementer').getFirst().getKommuner() %}
        <a href="{{ path('ukm_delta_ukmid_pamelding_hva', { k_id: velg_kommune.getId(), pl_id: kommune.getAttr('arrangementer').getFirst().getId() }) }}" class="btn btn-outline-primary btn-block white click" style="border-color: #fff!important; background: #fff; color: #010260 !important;">
            {{ velg_kommune.getNavn() }}
        </a>
    {% endfor %}
    
</div>