{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block delta_content%}		
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Fortell oss mer om din lystekniker-erfaring</h1>
				<form method="POST" action="{{ url('ukm_nominasjon_arrangor_detaljer_save', {type:'lystekniker'} ) }}" id="nominasjonsskjema">
					<div class="form-group">
						<label>
							Hva slags erfaring har du fra før? Hvilke miksere har du brukt?
							Kjenner du den godt, eller mindre godt?
						</label>
						<textarea rows="6" name="lys-erfaring-1" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>På hvilke arrangementer har du jobbet med lysteknikk utenom UKM, og hva var din rolle?</label>
						<textarea rows="6" name="lys-erfaring-2" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>Kan du patche opp til to universer med dmx adresser på en mikser, på lampene og om nødvendig feilsøke hvorfor en lampe/fixture ikke reagerer på signal?</label>
						<textarea rows="6" name="lys-erfaring-3" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>Hva er forskjellen på en Beam, Wash og profillampe, og kan du forklare når du ville brukt profil-lampe? </label>
						<textarea rows="6" name="lys-erfaring-4" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>Takler du stress bra? Klarer du å programmere et bra lysshow på kort tid som du så kan gjennomføre live for mange mennesker?</label>
						<textarea rows="6" name="lys-erfaring-5" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>Skriv gjerne ned noen som kjenner deg og dine egenskaper innen lysteknikk, og som kan være dine referanser (husk mobilnummer).</label>
						<textarea rows="6" name="lys-erfaring-6" class="form-control"></textarea>
					</div>
					
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block center" id="saveNominasjon">Send inn</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}