{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block delta_content %}	
	<form method="POST" action="{{ url('ukm_nominasjon_arrangor_info_save') }}" id="nominasjonsskjema">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="mt-4 lead">
						At du er nominert betyr at ditt fylke ønsker at du skal være med, 
						men UKM-festivalen har dessverre ikke nok oppgaver til alle...
					</p>
					<p>
						UKM-festivalen velger noen nominerte fra hvert fylke, og disse blir
						et team som passer faglig godt sammen. 
					</p>

					<p class="strong">
						Vi bruker skjemaet for å finne ut hva du kan, og hvem du passer sammen med, så fyll ut skjemaet så godt som mulig.
						Du vil om kort tid få beskjed om du skal være med eller ikke. 
					</p>
				</div>
				
				<div class="col-12">
					<h1>Har du mulighet til å være med?</h1>
					<p>
						For å være med må du delta på hele festivalen og planleggingshelgen i mai, i Stjørdal i Trøndelag.
					</p>
				</div>
				
				<div class="col-12 mt-3">
					<h2>
						PLANLEGGINGSHELG
						<br />
						<small>
							Fredag 24. - søndag 26. mai
						</small>
					</h2>
					
					<div class="mt-2 mb-2">
						{% image '@UKMDeltaBundle/Resources/public/img/planhelg.jpg' output="images/planhelg.jpg" %}
							<img class="nominasjon-illustrasjon" src="{{ asset_url }}"  alt="" />
						{% endimage %}
					</div>
					
					<p>
						Planleggingshelgen brukes til å bli kjent med hverandre og forberede festivalen sammen med festivalledelsen.
					</p>
					<p>
						UKM betaler og bestiller reise og opphold. 
					</p>

					<div class="form-group">
						<label class="custom-control custom-controls-stacked custom-radio">
							<input id="planhelg-ja" name="planhelg" value="ja" type="radio" class="custom-control-input" required />
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Ja, jeg kan være med fredag 24. - søndag 26. mai</span>
						</label>
						
						<label class="custom-control custom-controls-stacked custom-radio">
							<input id="planhelg-nei" name="planhelg" value="nei" type="radio" class="custom-control-input" required />
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Nei, jeg kan dessverre ikke være med</span>
						</label>
						<div class="clearfix"></div>
					</div>
				</div>
				
				<div class="col-12 mt-3">
					<h2>
						UKM-FESTIVALEN
						<br />
						<small>
							Lørdag 22. - fredag 28. juni
						</small>
					</h2>
					
					<div class="mt-2 mb-2">
						{% image '@UKMDeltaBundle/Resources/public/img/festival.jpg' output="images/festival.jpg" %}
							<img class="nominasjon-illustrasjon" src="{{ asset_url }}"  alt="" />
						{% endimage %}
					</div>
					
					<p>
						Unge arrangører kommer til Stjørdal to dager tidligere enn de andre deltakerne. 
						Dere bor sammen med alle andre som deltar på festivalen.
					</p>
					
					<div class="form-group">
						<label class="custom-control custom-controls-stacked custom-radio">
							<input id="festival-ja" name="festival" value="ja" type="radio" class="custom-control-input" required />
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Ja, jeg kan være med lørdag 22. - fredag 28. juni</span>
						</label>
						
						<label class="custom-control custom-controls-stacked custom-radio">
							<input id="festival-nei" name="festival" value="nei" type="radio" class="custom-control-input" required />
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Nei, jeg kan dessverre ikke være med</span>
						</label>
					</div>
				</div>


				<div class="col-12 mt-3">
					<button type="submit" class="btn btn-primary btn-block">Ok, ta meg til skjema</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}