{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}	
	<form method="POST" action="{{ url('ukm_nominasjon_arrangor_info_save') }}" id="nominasjonsskjema">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>Nominasjon til UKM-festivalen</h1>
					
					<h2>Hva er nominasjon</h2>
					<p>
						Din fylkeskontakt vil nå gi beskjed til UKM-festivalen at du er nominert fra fylket ditt som ung arrangør. 
						Dessverre er det ikke plass til alle nominerte. 
						UKM-festivalen vil derfor velge ut noen nominerte fra hvert fylke, 
						og sette sammen et lag av unge arrangører, som passer faglig godt sammen. 
						Du vil om kort tid få en beskjed fra UKM-festivalen om du skal være med på festivalen eller ikke.
					</p>

					<p>
						For at vi skal kunne sette sammen et lag som fungerer så godt som mulig, 
						er det viktig at du fyller ut skjemaet så godt som mulig
					</p>
				</div>
				
				<div class="col-12 mt-3">
					<h2>Viktige datoer</h2>
					<p>
						For å kunne være med som ung arrangør på UKM-festivalen, 
						er det viktig at du har muligheten til å delta på hele festivalen og på planleggingshelga i mai. 
					</p>
					<p>
						Både planleggingshelga og festivalen foregår i Trondheim.
					</p>
				</div>

				<div class="col-12 mt-3">
					<h3>
						Fredag 25. - søndag 27. mai:
						<br />
						Planleggingshelg
					</h3>
					{% image '@UKMDeltaBundle/Resources/public/img/planhelg.jpg' output="images/planhelg.jpg" %}
						<img class="nominasjon-illustrasjon" src="{{ asset_url }}"  alt="" />
					{% endimage %}
					<p>
						Planleggingshelgen brukes til å kartlegge og planlegge hva vi skal jobbe med fram mot og på selve festivalen. 
						Dere vil jobbe mye sammen, med hjelp fra andre som jobber med festivalen.
						<br /><br />
						Vi skal bo på Trondheim Vandrerhjem, og reisen bestiller du og din fylkeskontakt sammen. 
						<br />
						UKM Norge betaler reise og opphold.
					</p>

					<div class="form-group">
						<label class="custom-control custom-controls-stacked custom-radio">
							<input id="planhelg-ja" name="planhelg" value="ja" type="radio" class="custom-control-input" required />
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Ja, jeg kan være med fredag 25. - søndag 27. mai</span>
						</label>
						
						<label class="custom-control custom-controls-stacked custom-radio">
							<input id="planhelg-nei" name="planhelg" value="nei" type="radio" class="custom-control-input" required />
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Nei, jeg kan dessverre ikke være med</span>
						</label>
						<div class="clearfix"></div>
					</div>
				</div>
				
				<div class="col-12 mt-3">
					<h3>
						Søndag 24. - fredag 29. juni:
						<br />
						UKM-festivalen
					</h3>
					{% image '@UKMDeltaBundle/Resources/public/img/festival.jpg' output="images/festival.jpg" %}
						<img class="nominasjon-illustrasjon" src="{{ asset_url }}"  alt="" />
					{% endimage %}
					<p>
						Unge arrangører ankommer Trondheim en dag tidligere enn de andre deltagerne. 
						Dere skal bo sammen med alle andre som deltar på festivalen
					</p>
					
					<div class="form-group">
						<label class="custom-control custom-controls-stacked custom-radio">
							<input id="festival-ja" name="festival" value="ja" type="radio" class="custom-control-input" required />
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Ja, jeg kan være med søndag 24. - fredag 29. juni</span>
						</label>
						
						<label class="custom-control custom-controls-stacked custom-radio">
							<input id="festival-nei" name="festival" value="nei" type="radio" class="custom-control-input" required />
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Nei, jeg kan dessverre ikke være med</span>
						</label>
					</div>
				</div>


				<div class="col-12 mt-3">
					<button type="submit" class="btn btn-primary btn-block">Ok, ta meg til skjema</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}