{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}	
	{% if app.session.flashBag.peekAll()|length > 0 %}
		<div class="container">
			<div class="row">
				<div class="col-12">
					{% embed "UKMDeltaDesignBundle:FlashBag:list.html.twig" %}{% endembed %}
				</div>
			</div>
		</div>
	{% endif %}
	
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Fortell oss mer om din lydtekniker-erfaring</h1>
				<form method="POST" action="{{ url('ukm_nominasjon_arrangor_detaljer_save', {type:'lydtekniker'} ) }}" id="nominasjonsskjema">
					<div class="form-group">
						<label>Hva slags erfaring har du fra før? Hvilke mikser(e) har du brukt? (Kjenner du den godt, eller mindre godt?)</label>
						<textarea rows="6" name="lyd-erfaring-1" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>På hvilke arrangementer har du jobbet med lydteknikk utenom UKM, og hva var din rolle?</label>
						<textarea rows="6" name="lyd-erfaring-2" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>Vet du hvordan et stagerack fungerer og kan du forklare hvordan en kobler dette sammen med en digitalmikser?</label>
						<textarea rows="6" name="lyd-erfaring-3" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>Vet du forskjellen på en dynamisk mikrofon og en kondensator mikrofon? Forklar gjerne når du ville brukt de forskjellige typene.</label>
						<textarea rows="6" name="lyd-erfaring-4" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>Ville du, på kort tid, klart å gjøre en full lydsjekk til et band hvor du skrur monitor lyd til bandet, i tillegg til å skru PA, for å kort tid etter ha en konsert for mange mennesker?</label>
						<textarea rows="6" name="lyd-erfaring-5" class="form-control" required="true"></textarea>
					</div>
					
					<div class="form-group">
						<label>Skriv gjerne med referanser til folk som kjenner deg og dine egenskaper innen lydteknikk.</label>
						<textarea rows="6" name="lyd-erfaring-6" class="form-control"></textarea>
					</div>
					
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block center" id="saveNominasjon">Send inn</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}