{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block delta_content %}	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Beklager, vi finner ikke brukeren din!</h1>
				
				<p class="lead">
					Vi har sendt en e-post til support, som vil ta kontakt med deg i løpet av veldig kort tid, slik at du får fullført nominasjonen din.
				</p>
			</div>
		</div>
	</div>
{% endblock %}