{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Beklager!</h1>
				
				<p class="lead">
					Hvis du ikke kan være med på begge, kan du dessverre ikke være med på UKM-festivalen i år.
				</p>
				
				<p>
					Husk å gi fylkeskontakten din beskjed om dette.
				</p>
			</div>
		</div>
	</div>
{% endblock %}