{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block delta_content %}	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Velg hvilket skjema du skal fylle ut</h1>
				<p>
					<strong>
						Konferansierer skal ikke fylle ut nominasjonsskjema i år.
					</strong>
				</p>

				<a href="{{ path('ukm_nominasjon_arrangor') }}" class="btn btn-primary btn-block center">Arrangør</a>
				<p>&nbsp;</p>
				<a href="{{ path('ukm_nominasjon_media') }}" class="btn btn-primary btn-block center">UKM Media</a>
			</div>
			
		</div>
	</div>
{% endblock %}