.buttons-paamelding {
    display: flex;
    position: relative;
}
.round-style-paamelding svg {
    height: 20px;
}
.paameldinger {
    margin-top: 50px;
    margin-bottom: 60px;
}
.paameldinger .tittle {
    font: 14px/17px Poppins !important;
    font-weight: 500;
    color: #a0aec0;
    margin: 0;
    margin-bottom: 25px;
}
.members .total {
    font-size: 11px;
    margin: auto;
    margin-left: 0;
    margin-bottom: -3px;
    color: #718096;
    font-weight: 100;
}
.hide-gently {
    -ms-transform: scaleY(0); /* IE 9 */
    transform: scaleY(0);
    visibility: hidden;
    position: absolute;
    opacity: 0;
    margin-left: 50px;
    transition: .2s all;
    transition-delay: 2s position;
}
.innslag-info {
    margin: auto;
    margin-bottom: 0;
    transition: .2s;
}
.venteliste-row {
    display: flex;
    margin-bottom: -8px;
}
.members .total.venteliste {
    color: #ff6584c2;
}
.virtual-person .img-avatar {
    display: flex;
}
.virtual-person.venteliste-pos .label {
padding: 5px;
}
.virtual-person .img-avatar {
    margin: auto;
    width: 17px;
}
.virtual-person .pos {
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin: 0;
}
.venteliste-row .fade-effect-venteliste {
    height: auto;
    width: 43px;
    background-image: linear-gradient(to left, #f7fafce6, #f7fafc 100%);
    margin-right: -34px;
    z-index: 1;
}
.venteliste-row .virtual-person .position {
    margin: 0;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: -3px;
}
.venteliste-row .fade-effect-venteliste.right {
    width: 40px;
    background-image: linear-gradient(to right, #f7fafce6, #f7fafc 100%);
    margin-left: -34px;
}
.show-gently {
    -ms-transform: scaleY(1); /* IE 9 */
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
    margin-left: 0px;
    transition: .2s all;
    transition-delay: .2s visibility;
}
.paamelding-box .inner.make-space .row .innslag-info {
    margin-bottom: 40px;
}
.meld-av-bilde {
    display: flex;
    margin-bottom: -21px;
    margin-top: 35px;
}
.meld-av-bilde img {
    opacity: 1;
    max-height: 80px;
    margin: auto;
    margin-bottom: 0;
    transition: .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.slett-paamelding-div .slett-paamelding {
    height: auto;
    min-height: inherit;
    padding: 10px 16px;
    background: #A0AEC0;
}
.accordion-by {
    margin-top: 20px;
}
.slett-paamelding-div .slett-paamelding svg {
    margin-top: -3px;
}
.slett-paamelding-div.show-gently {
    margin-top: -35px;
    margin-bottom: 36px;
}
.slett-beskjed {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #edf2f7;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
}
.slett-beskjed .beskjed-box {
    margin: auto;
    text-align: center;
}
.slett-beskjed .beskjed-box .text {
    color: #A0AEC0;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
}
.no-innslag-div {
    display: flex;
}
.no-innslag-div img {
    margin: auto;
    max-height: 300px;
}
.accordion-item.with-shadow {
    box-shadow: 0px 3px 6px #0000004a;
}
.accordion-item.with-radius {
    border-radius: 5px;
    overflow: hidden;
}
.accordion-item .card {
    border-radius: 5px 5px 0px 0px;
    background-color: #EDF2F7;
    font: normal normal 300 14px/16px Roboto;
    text-align: left;
    letter-spacing: 0px;
    border: none;
}
.accordion-item .card-header {
    border-radius: 5px;
    padding: 10px 0;
    font: normal normal 300 16px/19px Roboto;
    border: none;
    padding: 0 !important;
}
.accordion-item .accordion-header-root .btn-link:hover {
    color: #fff !important;
}
.accordion-item .accordion-header-root .btn-link:hover .caret-flip {
    fill: #fff !important;
}
.accordion-item .accordion-header-root .btn-link {
    color: #A0AEC0;
    font-weight: 300;
    padding: 13px 10px;
}
.accordion-item .accordion-header-root .btn-link {
    box-shadow: 0px 2px 4px #0000001f;
}
.accordion-item .accordion-header-root .btn-link.collapsed {
    box-shadow: none;
}
.accordion-item .accordion-header-root .btn-link:hover, .accordion-item .accordion-header-root .btn-link:focus {
    text-decoration: none;
}
.accordion-item .accordion-header-sub {
    color: #1A202C;
    background-color: #F6F8FB;
    display: flex;
    justify-content: space-between;
}
.accordion-item .accordion-header-sub.fellesmonstring {
    background: transparent;
    padding: 10px 0px;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
}
.accordion-item .accordion-header-sub.fellesmonstring .accordion-title-sub {
    font-size: 13px;
    margin: 0;
}
.accordion-item .accordion-header-sub.fellesmonstring:hover {
    padding-left: 10px !important;
}
.accordion-item .accordion-header-sub.fellesmonstring .icon,
.accordion-item .accordion-header-sub.fellesmonstring .accordion-title-sub {
    transition: .2s;
}
.accordion-item .accordion-header-sub.fellesmonstring:hover .icon,
.accordion-item .accordion-header-sub.fellesmonstring:hover .accordion-title-sub {
    color: #fff !important;
    fill: #fff !important;
}
.accordion-item .card-body-arrangement {
    color: #1A202C;
    background-color: #EDF2F7;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
.accordion-panel-child {
    margin: 14px;
    margin-top: 30px;
    margin-left: 20px;
    border-left: solid 2px #A0AEC0;
    padding: 0;
    padding-top: 0;
    padding-left: 15px;
}
.fellesmonstring-kommuner .info-inactive-button .info-label,
.accordion-item span .info-label {
    color: #A0AEC0;
    font-size: 11px;
    margin: 0;
    margin-top: 2px;
}
.accordion-item span .info-label.venteliste {
    color: #ff6584c2 !important;
    margin-top: 0;
}
.accordion-sub .accordion-header-sub {
    background: #EDF2F7;
    transition: .2s background;
    cursor: pointer;
}
.accordion-sub.collapsed .accordion-header-sub {
    background: #F6F8FB;
    transition: 1s;
}
.accordion-sub .panel-heading .description {
    transition: .2s;
    margin-top: 0;
    margin-bottom: 0;
}
.description.info-label.no-arrangement-hide,
.accordion-sub.collapsed .panel-heading .description {
    opacity: 0;
    margin-top: -10px;
    margin-bottom: -11px;
}
.accordion-sub .panel-heading .icon {
    opacity: 0;
    margin-right: -20px;
    transition: .2s;
}
.accordion-sub.collapsed .panel-heading .icon {
    opacity: 1;
    margin-right: 0;
}
.accordion>.card {
    overflow: inherit;
}
.btn-accordion-root .fylke-navn {
    vertical-align: middle;
}
.btn-accordion-root .caret-flip {
    transform: rotate(90deg);
    transition: .2s transform;
}
.btn-accordion-root.halv .caret-flip {
    transform: rotate(45deg);
    transition: .2s transform;
}
.btn-accordion-root.collapsed .caret-flip {
    transform: rotate(0);
}
.btn-accordion-root.open-hard .caret-flip {
    transform: rotate(90deg) !important;
}
#alleFylkerOgKommuner {
    margin-top: 60px;
}
.fylke-body {
    position: relative;
    box-shadow: 0px 2px 4px #0000001F;
}
.accordion-child.loaded .phantom-arrangement {
    display: none;
}
.fellesmonstring-kommuner .info-inactive-button {
    margin: 0;
    margin-top: 7px;
}
.fellesmonstring-kommuner.collapsed div .caret-flip {
    transform: rotate(0deg) !important;
}
.no-arrangement {
    margin-left: 20px;
    margin-bottom: 30px;
}
.no-arrangement p {
    font-size: 13px;
}
.no-arrangement .kontakt-oss-btn {
    background: #A0AEC0 !important;
    border-radius: 40px;
    padding: 10px 20px;
    text-decoration: none;
}
.no-arrangement .kontakt-oss-btn:active,
.no-arrangement .kontakt-oss-btn:hover {
    background: #798596 !important;
    color: #fff;
}
.accordion-panel-child:nth-child(1) {
    margin-top: 5px;
}
.accordion-child .panel-inner {
    cursor: pointer;
}
.fylke-body.arrangementer-visning,
.accordion-item .card-body-arrangement.meldpaa {
    background: #f7f8fb;
    transition: .1s;
}
.accordion-item .card-body-arrangement.meldpaa:hover {
    background: #e6eaef;
    border-radius: 2px;
    transition: .1s;
}
#mainMessageDiv {
    height: auto;
}
#mainMessageDiv .modal-dialog .modal-content {
    border: solid 1px transparent;
}
#mainMessageDiv .modal-dialog.error .modal-content {
    border: solid 1px #ff6584c2;
}
#mainMessageDiv .modal-dialog.error .modal-content .modal-header {
    background: #ff6584c2;
}
#mainMessageDiv .modal-dialog.error .modal-content .modal-header .modal-title {
    color: #fff !important;
}

#mainMessageDiv .modal-dialog.warning .modal-content {
    border: solid 1px #ffeeba;
}
#mainMessageDiv .modal-dialog.warning .modal-content .modal-header {
    background: #fff3cd;
}
#mainMessageDiv .modal-dialog.warning .modal-content .modal-header .modal-title {
    color: #856404 !important;
}

@media(max-width: 575px) {
    .meld-av-bilde img {
        max-height: 80px;
        margin-right: 50px;
        margin-bottom: 0;
    }
}
.accordion-item .info-label-title span:last-child {
    text-transform: lowercase;
}
.accordion-sub button.small-button-style.innslags-type.mini {
    background-color: #EDF2F7;
}