* {
    font-family: Poppins;
}
.nop {
    padding: 0;
}
.hide {
    display: none !important;
}
.visibility-hidden {
    visibility: hidden !important;
}
.opacity-hidden {
    opacity: 0 !important;
}
.display-flex {
    display: flex;
}
body {
    background-color: #f7fafc;
}
body.modal-open,
.modal-open .modal {
    padding-right: 0 !important;
}
.spinner-border {
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
}
.main-container {
    margin-top: -50px;
}
.main-container.hiden {
    visibility: hidden;
    margin-top: -38px !important;
}
.clickable {
    cursor: pointer;
}
.round-style-button {
    padding: 14px 16px;
    border: none;
    min-height: 49px;
    background: #718096;
    color: #EDF2F7;
    font: normal normal 500 14px/21px Poppins;
    box-shadow: 2px 4px 6px #00000027;
    border-radius: 25px;
}
a.round-style-button {
    color: #EDF2F7 !important;
    text-decoration: none;
}
.round-style-button.medium {
    padding: 7px 14px;
    font-size: 12px;
    min-height: 35px;
}
.round-style-button.mini-size {
    font-size: 12px;
    padding: 7px 16px;
    min-height: 30px;
}
.round-style-button.mini {
    background-color: #cbd5e0;
    padding: 12px 13px;
    height: 49px;
    width: 49px;
    display: flex;
    margin-left: 13px;
}
.round-style-button.mini span {
    font-size: 30px;
    margin: auto;
    font-weight: 200;
}
.small-button-style {
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background: #CBD5E0;
    color: #fff;
    transition: .1s;
}
.small-button-style.disabled {
    opacity: .5 !important;
}
.small-button-style.smaller {
    width: 20px;
    height: 20px;
}
.hover-button-delta {
    transition: .1s;
}
.hover-button-delta:hover,
.hover-button-delta:active {
    background: #718096 !important;
}

.mini-label-style {
    border-radius: 7px;
    padding: 0px 9px;
    font-size: 12px;
    background: #E2E8F0;
    color: #A0AEC0;
}
.input-delta {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: #EDF2F7;
    padding: 0 15px;
    cursor: text;
    border: solid 1px transparent;
    transition: .3s border;
}
.input-delta.static {
    margin-bottom: 25px;
}
.input-delta.validation-failed-active {
    border: solid 1px #ff6584c2;
    box-shadow: 0px 0px 6px 3px rgb(255 101 132 / 21%);
    transition: .3s border;
}

.input-delta .input {
    width: 100%;
    height: 35px;
    border: none;
    background: #EDF2F7;
    margin-top: 20px;
    outline: none;
    transition: .2s all;
    color: #1A202C;
    font: normal normal 300 16px/19px Roboto;
    resize: none !important;
}
.input-delta .input-group-horizontal {
    display: flex;
}
.input-delta .input-group-horizontal input {
    width: 25%;
    text-align: right;
    margin-right: 10px;
}
.radio-input-delta .description {
    color: #A0AEC0;
    font: normal normal 300 16px/18px Roboto;
}
.radio-input-delta .inputs {
    display: inline;
}
.radio-input-delta .inputs .input-div {
    display: flex;
    margin: 10px 0;
}
.radio-input-delta .inputs .input-div input {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-right: 20px;
    margin-left: 0;
}
.radio-input-delta .inputs .input-div span {
    color: #1A202C;
    font: normal normal 300 16px/18px Roboto;
}
.input-delta:not(.open) textarea.input {
    height: 25px !important;
}
.input-delta.open textarea.input {
    padding: 10px 0;
    transition: .15s;
    min-height: 30px;
    max-height: 120px;
    font: normal normal 300 14px/21px Roboto;
}
.input-delta textarea.input:focus {
    height: 120px !important;
}
.input-delta .overlay {
    position: absolute;
    width: calc(100% - 80px);
    height: 100%;
    background: #EDF2F7;
    display: flex;
    transition: .2s all;
    z-index: 1;
}
.input-delta .overlay .info {
    margin: auto;
    margin-left: 0;
}
.input-delta .overlay .info .text {
    color: #A0AEC0;
    margin-left: 10px;
    transition: .2s font-size;
}
.input-delta.open .overlay .info .text {
    font-size: 10px;
}
.input-delta .overlay .info .icon {
    transition: .2s;
}
.input-delta.open .overlay .info .icon {
    width: 12px;
    height: 12px;
}
.input-delta.open .overlay {
    height: 20px;
}
.input-delta .button-right {
    position: absolute;
    border: none;
    background: #CBD5E0;
    border-radius: 50%;
    right: 15px;
    width: 25px;
    height: 25px;
    top: 16px;
}
.input-delta .button-right.with-hide {
    right: -30px;
    width: 2px;
    height: 2px;
    transition: .4s cubic-bezier(0.89, 0.21, 0.21, 1.54);
}
.input-delta.open .button-right.with-hide {
    right: 15px;
    width: 25px;
    height: 25px;
}
.input-delta .button-right svg {
    margin-top: -2px;
    margin-left: -3px;
}
.beskrivelse-under-input-delta {
    position: relative;
    background: #f2f7fa;
    margin-top: 5px;
    border-radius: 5px;
    border-left: solid 5px #edf2f7;
    font: normal normal 300 12px/17px Roboto;
    color: #2D3748;
}
.beskrivelse-under-input-delta .space {
    padding: 15px 25px;
}
.beskrivelse-under-input-delta .info-icon {
    position: absolute;
    background: #fff;
    display: flex;
    border-radius: 50%;
    padding: 4px;
    left: -20px;
    top: -15px;
    z-index: 2;
    transition: .4s cubic-bezier(0.7, 0.24, 1, 2.05);
    opacity: 0;
}
.beskrivelse-under-input-delta.collapse.show .info-icon {
    opacity: 1;
}
.beskrivelse-under-input-delta.collapse .info-icon {
    opacity: 0;
}
.beskrivelse-under-input-delta.collapsing .info-icon {
    left: -30px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.loaded.phantom,
.loaded .phantom {
    display: none;
}
.phantom-loading {
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
    overflow: hidden;
    color: #0000 !important;
    fill: #0000 !important;
}
.phantom-loading * {
    fill: transparent;
}

.round-style-paamelding {
    border-radius: 28px;
    padding: 12px 16px;
    border: none;
    background: #718096;
    color: #EDF2F7;
    font: normal normal 500 14px/21px Poppins;
}

.paamelding-box {
    width: 100%;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 2px 7px #00000066;
    border-radius: 15px;
    margin-bottom: 30px;
    min-height: 212px;
    position: relative;
    overflow: hidden;
}
.paamelding-box.hide-up-gently {
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    padding: 0 15px;
    margin: 0px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    transition-delay: 2s;
}
.paamelding-box .header-top {
    display: flex;
}
.paamelding-box .header-top .category-tittel {
    margin: auto;
    margin-left: 0;
    display: flex;
    margin-top: 0;
}
.paamelding-box .header-top .category-tittel .label {
    margin: auto;
    margin-right: 8px;
}
.paamelding-box .header-top .buttons {
    margin: auto;
    margin-right: 0;
    display: flex;
}
.paamelding-box .header-top .buttons a {
    display: block;
    margin-left: 10px;
}
.paamelding-box .header-top .buttons a .mini {
    margin-left: 0;
}
.paamelding-box .header-top .buttons .mini {
    margin: auto;
    margin-left: 10px;
}
.paamelding-box .inner {
    transition: .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.paamelding-box .inner .members {
    display: flex;
    margin-top: 8px;
}
.avatars-div {
    display: flex;
    margin-top: 26px;
}
.paamelding-box .inner .members .avatars {
    margin-right: 10px;
}
.paamelding-box .inner .members .avatars .avatar {
    width: 20px;
    height: 20px;
    margin-right: -10px;
    border: solid 2px #fff;
    border-radius: 50%;
}
.paamelding-box .inner .members .avatars .avatar:last-child {
    margin-right: 0;
}

.paamelding-box .inner .description {
    margin: 0;
    color: #A0AEC0;
    font: normal normal 300 10px/10px Roboto;
    text-transform:uppercase;
}
.paamelding-box .inner .name {
    margin: 0;
    font: normal normal 600 15px/20px Poppins;
}
.paamelding-box.big-box {
    padding: 40px;
}
.fullfor-button-div {
    padding: 20px 0;
    padding-bottom: 0;
}
.fullfor-button-div .button-div {
    display: flex;
}
.fullfor-button-div .fullfor,
.fullfor-button-div .slett-bidrag {
    min-width: 300px;
    margin: auto;
    background: #A0AEC0;
}
.fullfor-button-div .slett-bidrag {
    margin: 15px auto 25px auto;
    min-width: auto;
    background: transparent;
    border: none;
    color: #CBD5E0;
    font-size: 12px;
    font: normal normal 300 10px/16px Poppins;
    text-decoration: none;
}
.fullfor-button-div .slett-bidrag:hover {
    color: #718096 !important;
}

@media (max-width: 768px) {
    .paamelding-box.big-box {
        padding: 20px;
    }
}
@media (max-width: 576px) {
    .paamelding-box.big-box {
        padding: 15px;
    }
    body .lead {
        font-size: 14px;
    }
}