.nop {
    padding: 0;
}
.hide {
    display: none !important;
}
.visibility-hidden {
    visibility: hidden !important;
}
.opacity-hidden {
    opacity: 0 !important;
}
body {
    background-color: #f7fafc;
}
.main-container {
    margin-top: -38px;
}
.main-container.hiden {
    visibility: hidden;
    margin-top: -38px !important;
}
.round-style-button {
    padding: 14px 16px;
    border: none;
    min-height: 49px;
    background: #718096;
    color: #EDF2F7;
    font: normal normal 500 14px/21px Poppins;
    box-shadow: 2px 4px 6px #00000027;
    border-radius: 25px;
}
.round-style-button.mini {
    background-color: #cbd5e0;
    padding: 12px 13px;
    height: 49px;
    width: 49px;
    display: flex;
    margin-left: 13px;
}
.round-style-button.mini span {
    font-size: 30px;
    margin: auto;
    font-weight: 200;
}
.small-button-style {
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background: #CBD5E0;
    color: #fff;
    transition: .1s;
}
.hover-button-delta {
    transition: .1s;
}
.hover-button-delta:hover,
.hover-button-delta:active {
    background: #718096 !important;
}

.mini-label-style {
    border-radius: 7px;
    padding: 0px 9px;
    font-size: 12px;
    background: #E2E8F0;
    color: #A0AEC0;
}
.input-delta {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: #EDF2F7;
    padding: 0 15px;
    cursor: text;
}
.input-delta input {
    width: calc(100% - 40px);
    height: 35px;
    border: none;
    background: #EDF2F7;
    margin-top: 20px;
    outline: none;
    transition: .2s all;
}
.input-delta .overlay {
    position: absolute;
    width: calc(100% - 80px);
    height: 100%;
    background: #EDF2F7;
    display: flex;
    transition: .2s all;
    z-index: 1;
}
.input-delta .overlay .info {
    margin: auto;
    margin-left: 0;
}
.input-delta .overlay .info .text {
    color: #A0AEC0;
    margin-left: 10px;
    transition: .2s font-size;
}
.input-delta.open .overlay .info .text {
    font-size: 10px;
}
.input-delta .overlay .info .search-icon {
    transition: .2s;
}
.input-delta.open .overlay .info .search-icon {
    width: 12px;
    height: 12px;
}
.input-delta.open .overlay {
    height: 20px;
}
.input-delta .close-btn {
    border: none;
    background: #CBD5E0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: -30px;
    transition: .4s cubic-bezier(0.89, 0.21, 0.21, 1.54);
}
.input-delta.open .close-btn {
    right: 15px;
    width: 25px;
    height: 25px;
}
.input-delta .close-btn svg {
    margin-top: -2px;
    margin-left: -3px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.phantom-loading {
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
    overflow: hidden;
    color: #0000 !important;
    fill: #0000 !important;
}