.innslag-type-object {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: #edf2f7;
}
.accordion-sub .accordion-header-sub {
    background: #f7f8fb;
    transition: .2s background;
    cursor: pointer;
}
.accordion-sub .accordion-header-sub .type-info-left {
    display: flex;
}
.accordion-sub .accordion-header-sub .type-info-left .innslags-type-navn {
    margin: auto;
    margin-left: 8px;
}
.accordion-sub .accordion-header-sub .type-info-right {
    margin: auto;
    margin-right: 0;
}
.accordion-sub .accordion-header-sub .type-info-right .icon {
opacity: 1;
    margin: auto !important;
}
#innslagAllTypes {
    border-bottom: solid 2px #e6eaee;
}
.vise-noe-frem .item-type .panel .accordion-sub .accordion-header-sub:hover {
    background: #e6eaee !important;
}
#innslagTypeviseFrem {
    margin-bottom: 50px;
}
.caret-flip {
    width: 36px;
    height: 36px;
}
.panel-heading.accordion-header-sub.card-body.card-body-kommune.search:hover {
    background: #e6eaef;
}
.kommune-top-div.active-div,
.kommune-top-div.active-div .kommune-accordion.search-kommune .card-body-kommune {
    background: #e6eaef !important;
}
