.input-area {
    margin-bottom: 30px;
}
.hr-info {
    display: flex;
    margin: auto;
    width: 240px;
    margin-bottom: 10px;
}
.hr-info.with-space {
    margin: 60px auto;
}
.main-container .nop .hr-info {
    margin-top: -20px;
}
.hr-info .line {
    border-color: #CBD5E0;
    width: 100%;
    margin: auto;
}
.hr-info .text {
    margin: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    font: normal normal bold 11px/16px Poppins;
    color: #CBD5E0;
    white-space: nowrap;
    padding: 0 13px;
}
#collapseUsers {
    background: #edf2f7;
}
.accordion-body-root .items-oversikt {
    display: block !important;
    padding: 0 !important;
}
.accordion-body-root .items-oversikt .item {
    display: flex;
    padding: 0.75rem 1.25rem;
}
.accordion-body-root .items-oversikt .item.new-person {
    display: block;
}
.accordion-body-root .items-oversikt .item.new-person .user-empty {
    display: flex;
}
.accordion-body-root .items-oversikt .item.new-person {
    padding-left: 40px;
    padding-right: 40px;
    background: #edf2f7;
}
.collapse:not(.show) {
    display: none !important;
}
.accordion-body-root .items-oversikt .item.remove-mode .avatar,
.accordion-body-root .items-oversikt .item.remove-mode .title-name,
.accordion-body-root .items-oversikt .item.remove-mode .user-info {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: .2s;
}
.accordion-body-root .items-oversikt .item.moving .avatar,
.accordion-body-root .items-oversikt .item.moving .title-name,
.accordion-body-root .items-oversikt .item.moving .user-info {
    display: none;
}
.accordion-body-root .items-oversikt .item.moving .buttons button {
    display: none;
}
.accordion-body-root .items-oversikt .item.titel .user-info {
    margin-left: 0;
}
.accordion-body-root .items-oversikt .item.titel .user-info.varighet {
    min-width: 70px;
    margin-right: 20px;
}
.accordion-body-root .items-oversikt .item.titel .title-name {
    margin: auto;
    margin-left: 0;
    color: #1A202C;
    font: normal normal 300 14px/16px Roboto;
}
.accordion-body-root .items-oversikt .item.titel .user-info .name .varighet {
    color: #718096;
}
.accordion-body-root .items-oversikt .item.titel .user-info .name .varighet.inactive {
    color: #71809657;
}
.accordion-body-root .items-oversikt .item .avatar img.avatar {
    width: 24px;
}
.accordion-body-root .items-oversikt .item .user-info {
    margin-left: 10px;
}
.accordion-body-root .items-oversikt .item .buttons {
    margin: auto;
    margin-right: 0;
    min-width: 70px;
    text-align: right;
}
.accordion-body-root .items-oversikt .item.item.remove-mode .buttons {
    min-width: auto
}
.accordion-body-root .items-oversikt .item-new-person .buttons {
    margin-right: -25px;
}
.accordion-body-root .items-oversikt .item .buttons button {
    width: 25px;
    height: 25px;
}
.accordion-body-root .items-oversikt .item.remove-mode .buttons .edit-user-info.collapsed {
    position: absolute;
}
.accordion-body-root .items-oversikt .item.remove-mode .buttons .edit-user-info.collapsed,
.accordion-body-root .items-oversikt .item .buttons .edit-user-info {
    visibility: hidden;
    opacity: 0;
}
.accordion-body-root .items-oversikt .item .buttons .edit-user-info.collapsed {
    visibility: visible;
    opacity: 1;
    transition: .5s;
}
.accordion-body-root .items-oversikt .item.new-person .user-info {
    display: flex;
}
.accordion-body-root .items-oversikt .item .user-info p {
    margin: 0;
}
.accordion-body-root .items-oversikt .item .user-info .rolle {
    text-transform: uppercase !important;
    color: #718096;
    font: normal normal 300 9px/11px Roboto;
    margin-bottom: 2px;
}
.accordion-body-root .items-oversikt .item.new-person .user-info .name {
    margin: auto;
}
.accordion-body-root .items-oversikt .item .user-info .name {
    color: #1A202C;
    font: normal normal 300 13px/15px Roboto;
}
.accordion-body-root .items-oversikt .item .remove-button-show-hide {
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}
.round-style-button.mini-size {
    max-height: 35px !important;
}
.accordion-body-root .items-oversikt .item.remove-mode .remove-button-show-hide {
    width: 100%;
    visibility: visible;
    opacity: 1;
    transition: .4s;
    margin-left: 10px;
}
.accordion-body-root .items-oversikt .item .remove-button-show-hide .round-style-button span {
    font-size: 0;
    transition: .4s;
}
.accordion-body-root .items-oversikt .item.remove-mode .remove-button-show-hide .round-style-button span {
    font-size: inherit;
    transition: .4s;
}
.new-member-div {
    display: flex;
    background: #edf2f7;
}
.new-member {
    background: #c9cdd1 !important;
    border-radius: 25px;
    padding: 5px 10px;
    text-decoration: none !important;
    margin: 10px auto;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 6px 1px #00000027;
    color: #718096;
    font: normal normal 600 10px/16px Poppins;

}
.new-member.add-new{
    display: none;
}
.new-member.collapsed {
    display: block;
}
.new-member svg {
    margin-left: 5px;
}
.new-member:hover,
.new-member:focus {
    color: #fff;
}
.new-member:hover svg,
.new-member:focus svg {
    fill: #fff !important;
}
#alleTitler {
    margin-bottom: 40px;
}

.form-new-user .input-delta,
.form-new-user .radio-input-delta {
    margin-top: 30px;
}
.form-new-user .input-delta,
.form-new-user .input-delta .input,
.form-new-user .input-delta .overlay {
    background: #F7FAFC !important;
}
.input-delta .input-group-horizontal .input-info {
    z-index: 1;
    margin: auto 0;
    margin-bottom: 8px;
    color: #A0AEC0;
    font: normal normal 300 16px/18px Roboto;
}
.input-delta .input-group-horizontal input {
    max-width: 150px;
}