# app/config/security.yml
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        ukm_userbundle:
            id: ukm_user.user_provider
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        ukm_delta_wall:
            pattern: ^/
            form_login:
                success_handler: ukm_user.security.authentication.handler.login_success_handler
                #default_target_path: /ukmid/
                provider: ukm_userbundle
                use_referer: true
                csrf_provider: security.csrf.token_manager # Use form.csrf_provider instead for Symfony <2.4
            logout:       true
            anonymous:    true

    access_control:
        - { path: ^/ukmid, roles: ROLE_USER }
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }