# app/config/services.yml
#imports:
#  - { resource: "@UKMDesignBundle\Resources\config\services.yml"}
services:
    app.exception_listener:
        class: AppBundle\EventListener\ExceptionListener 
        arguments: [@service_container]
        tags:
            - { name: kernel.event_listener, event: kernel.exception }