@primary-green: #84cdce;
@primary-grey: #585858;
@secondary-grey: #9e9e9e;
@tertiary-grey: #ededed;

@bootstrap-danger: #a94442;
@bootstrap-warning: #8a6d3b;
@bootstrap-success: #3c763d;
@bootstrap-info: #31708f;

@button-color: @primary-green;

.text-danger {
	color: @bootstrap-danger !important;
}
.text-warning {
	color: @bootstrap-warning !important;
}
.text-success {
	color: @bootstrap-success !important;
}
.text-info {
	color: @bootstrap-info !important;
}

/* KOPIERT FRA UKMDesignBundle:Resources:public:css:UKMresponsive.css */
.btn-default,
button.btn-default {
  background: #dbf0f1 !important;
}
.btn-success {
  background: #6dc6c1 !important;
}
.btn-default a,
.btn-default a:visited,
a.btn-default,
a.btn-default:visited,
button.btn-default,
.btn-success a,
.btn-success a:visited,
a.btn-success,
a.btn-success:visited,
button.btn-success {
  font-weight: bold !important;
  color: #1a1919 !important;
}
.btn-warning a,
.btn-warning a:visited,
a.btn-warning,
a.btn-warning:visited,
button.btn-warning {
	color: #fff;
	border-color: #d58512;
}

.btn-danger a,
a.btn-danger {
  color: #1a1919 !important;
   
}

.btn-facebook {
	background-color: #336699;
	color: #fff;
	font-weight: bold;
}

.btn.btn-block + .btn.btn-block {
    margin-top: 12px;
}

.text-hr {
    width: 90%;
    height: 14px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin: 12px 0px 20px 5%;
}

.text-hr > span {
	background-color: #fff;
    color: #aaa;
    padding: 0 10px;
    font-style: italic;
}
/* END OF KOPIERT FRA UKMDesignBundle:Resources:public:css:UKMresponsive.css */

h1, .h1 {
    font-size: 26px;
    font-weight: 300;
}

.delta-header {
	background-color: #85cdcf; 
	color: white;
}


@media(max-width:767px){
	.xs-center {
		text-align: center;
	}
}
.center {
	text-align: center;
}

.right {
	text-align: right;
}
.left {
	text-align: left;
}

.click {
	cursor: pointer;
}

/*** ***/
.delta-home {
	padding-right: 7em;
	/*padding-top: 2em;*/
	padding-top: 0.5em;
	margin-right: 0.2em;
}

.delta-home button {
	display: block;
	position: absolute;
	background-color: white;
	padding-top: 3px;
    padding-left: 0.6em;
    padding-right: 0em;
	border: 1px solid @primary-green;
	border-radius: 5px;
}
.delta-home img {
	margin: -1px 2px 2px 5px;
    height: 28px;

}
.delta-danger {
	/*width: 95%;*/
}

.delta-form textarea {
	border-radius: 2px;
	border: 1.5px solid @primary-green;
}

.delta-input {
	border-radius: 2px;
	border: 1.5px solid @primary-green;
}

.delta-form input {
	.delta-input;
}

.delta-form select {
	.delta-input;
}

.delta-select {

}

.delta-caret {
	display: block;
	position: absolute;
	float: right;
	top: 16px;
	right: 30px;
}

.delta-line {
	margin-top: 0px;
	margin-bottom: 0px;

	border-top: 0.12em solid @secondary-grey;
}

.delta-form hr {
	.delta-line;	
}

.delta-form .row {
	/* Reduser padding etc for å kunne tabulere skikkelig */
	padding-top: 5px;
	padding-bottom: 0px;
}

.delta-input-header > small {
	color: @primary-green;
	font-weight: bold;
}

.delta-input-header span {
	color: @secondary-grey;
}

.delta-clean {
	color: @primary-grey;
}

.delta-input-header .right {
	text-align: right;
	float: right;
	font-weight: normal;
}

.delta-list span {
	color: @primary-grey;
	font-size: 0.9em !important;

}

.delta-list span.label-danger {
	color: white;
}

.summaryDetailsList > .details,
.inactiveSummaryDetailsList > .details {
	display: none;
}

.delta-subtext {
	display: block;
	margin-bottom: 15px;
	color: @secondary-grey;
	font-size: 0.9em !important;
}
/* PÅMELDINGSIKONER */
.delta-type {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 35px;
}

.delta-fat {
	font-weight: bold;
}

.delta-fat li {
	font-size: 0.9em;
}

.delta-subtext .center {
	text-align: center;
}

.delta-subtext .right {
	text-align: right;
}

.delta-subtext .left {
	text-align: left;
}

.typeText {
    padding-top: 6px;
}

/** OVERUNDER **/
.overunder {
	.center;
	text-align: center; 
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
	padding: 4px 0px 4px 0px;
}

.overunder .over {
	.center;
	line-height: 20px;
	font-size: 30px;
}

.overunder .over small {
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
}

.overunder .under {
	.center;
	margin-top: 3px;
	font-size: 11px;
	line-height: 11px;
}

label {
	font-weight: normal;
}