<li class="list-group-item delta-type clickLinkWithin click py-1">
    <div class="row">
        <div class="col-12 typeText" style="padding-top: .3em;">
            <a href="{{ path('ukm_delta_ukmid_pamelding_v2_opprett', { k_id: kommune.getId(), pl_id: arrangement.getId(), type: type.getKey() }) }}" class="linkWithin" id="type_{{ type.getKey() }}">{{ type.getNavn()|raw }}
            </a>
        </div>
    </div>
</li>
