{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}
	<h1 class="center">Hva vil du melde på?</h1>
	<div>
		{% for type in typer %} 
			{% if loop.first %}
				<small><b>Vise frem noe på UKM</b></small>
			{% elseif loop.last %}
				<small><b>Jobbe på UKM</b></small>
				<div class="alert alert-danger">Disse kategoriene virker ikke i beta-testen</div>
			{% endif %}

			<ul class="list list-unstyled list-group">
			{% for enkelttype in type if pl.bandTypeAllowed( enkelttype.bt_id ) %}
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-9 col-xs-9 typeText">
							<a href="{{ path('ukm_delta_ukmid_pamelding_' ~ enkelttype.ico ~ '_hvem', 
							{ 	k_id: k_id,  
								pl_id: pl_id }) }}">{{ enkelttype.name|raw }}</a> 
						</div>
						<div class="col-md-3 col-xs-3 center">
							<img src="http://ico.ukm.no/delta/{{ enkelttype.ico }}.png" height="35" />
						</div>
					</div>
				</li>
			{% endfor %}
			</ul> 
		{% endfor %}
	</div>
{% endblock %}
