{% extends "UKMDesignBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
		<a href="" class="btn btn-primary btn-block">{{ knapp1 }}</a>
	</div>
	<div class="row">
		<a href="" class="btn btn-primary btn-block">{{ knapp2 }}</a>
	</div>
	<div class="row">
		<a href="" class="btn btn-primary btn-block">Jeg er kun kontaktperson</a>
	</div>



{% endblock %}
