{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}


{% block delta_content %}
{% stylesheets
	'@UKMDeltaBundle/Resources/public/css/home-page.css' %}
	<link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
{% endstylesheets %}

{% include "UKMDeltaBundle:OnePagePages:header.html.twig" %}

<!-- ******* page - pageAllInnslag ******* -->
{% include "UKMDeltaBundle:OnePagePages:allInnslag.html.twig" %}

<!-- ******* page - pageMeldPaaArrangement ******* -->
{% include "UKMDeltaBundle:OnePagePages:meldPaaArrangement.html.twig" %}

<!-- ******* page - pageVelgInnslagType ******* -->
{% include "UKMDeltaBundle:OnePagePages:velgInnslagType.html.twig" %}




<!-- One Page Templates -->
<button id="testBtnMeldPaa" k_id="5441" pl_id="3829" type="utstilling">Meldt på</button>
<button id="testBtnMeldAv">Meldt av</button>

<div class="col-xs-12">
	<button id="fjernInnslagBtn">Meldt av fra DeltaManager</button>
</div>

{# ONE PAGE TEMPLATES #}
{# {% include "UKMDeltaBundle:OnePage:innslagOnePage.html.twig" %} #}
{% include "UKMDeltaBundle:OnePage:fylkerOgKommuner.html.twig" %}
{% include "UKMDeltaBundle:OnePage:singleArrangementPreview.html.twig" %}
{% include "UKMDeltaBundle:OnePage:typeInnslag.html.twig" %}


{{ parent() }}

{% javascripts 
	'@UKMDeltaBundle/Resources/public/js/input-field.js'
	'@UKMDeltaBundle/Resources/public/js/index.js'
	'@UKMDeltaBundle/Resources/public/js/single-innslag.js'
		%}
	<script src="{{ asset_url }}"></script> 
{% endjavascripts %}


{% endblock %}
