{% extends "UKMDesignBundle::layout.html.twig" %}

{% block content %}
	<h1 class="center">Hei {{ user.getFirstName }}!</h1>
	
	<p>&nbsp;</p>
	
	<p class="lead center">
		Du er nå logget inn på din side.
		<br />
		Her velger du hva du skal delta med på UKM.
	</p>
{% endblock %}