<script>
var innslagTemplate = (navn) => { return `

<li class="list-group-item">
    <div class="row">
        <div class="col-9">
           <p>` + navn + `</p>
        </div>
    </div>
</li>

`};
</script>