<script>
var singleArrangementIndex = (navn) => { return `

<div class="panel-inner">
    <div class="panel-group" id="accordionKommune">
        <div class="panel panel-default" data-toggle="collapse" data-parent="#accordionArrangement" href="#collapseForm">
            <div class="panel-heading card-body card-body-arrangement">
                <span>
                    Arrangement 1
                    <p class="info-label">Onsdag 9. Desember, 2020</p>
                </span>
                <svg style="height: 24px;width: auto;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="#718096">
                    <path fill-rule="evenod d" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                </svg>
            </div>
        </div>
    </div>
</div>

`};
</script>