{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}	
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Meld deg på UKM</h1>
				
			<p class="lead center">
				Du må ha en bruker for å melde deg på.
				<br class="hidden-xs" />
				Dette går fort å opprette.
			</p>
			
			{{ render(controller('UKMUserBundle:UKMSecurity:login', {'renderWithoutLayout':true} )) }}
		</div>
	</div>
{% endblock %}