{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}	
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Meld deg på UKM</h1>
				
			<p class="lead center">
				Du må ha en bruker for å melde deg på.
				<br class="hidden-xs" />
				Dette går fort å opprette.
			</p>
		
			<p>&nbsp;</p>		
				
			<a href="{{ url('fos_user_security_login') }}" class="btn-success btn-lg btn-block center">Logg inn</a>
			<p>&nbsp;</p>
			<a href="{{ facebookLoginURL }}" class="btn btn-lg btn-success btn-block center" value="Logg inn med facebook">Logg inn eller registrer deg med facebook</a>
			<p>&nbsp;</p>
			<a href="{{ url('fos_user_registration_register') }}" class="btn-success btn-lg btn-block center">Opprett ny bruker</a>
		</div>
	</div>
{% endblock %}