{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block delta_content %}	
	<div class="container">	
		<div class="row">
			<div class="col-12">
				<p class="lead">
					Hvis du ikke har en bruker kan du opprette en, det går fort.
				</p>
            </div>
        </div>
    </div>
				
    {{ render(controller('UKMUserBundle:UKMSecurity:login', {'renderWithoutLayout':true} )) }}
{% endblock %}