{% extends "UKMDeltaBundle::layout.html.twig" %}
	
{% block content %}
	<p>&nbsp;</p>
	<h2>Vi vil være med i kinofilmen "Los Bando"</h2>
	
	<form action="{{ url('ukm_campaign_2017_los_bando_send') }}" method="POST">
	
		<div class="form-group">
			<label>Navn på bandet</label>
			<input type="input" class="form-control" name="navn" />
		</div>
	
		<div class="form-group">
			<label>Kontaktperson</label>
			<input type="input" class="form-control" name="kontakt" value="{{ navn }}" />
		</div>
		
		<div class="form-group">
			<label>Mobilnummer</label>
			<input type="tel" class="form-control" name="mobil" value="{{ mobil }}" />
		</div>
	
		<div class="form-group">
			<label>E-post</label>
			<input type="tel" class="form-control" name="epost" value="{{ epost }}" />
		</div>
	
		<div class="form-group">
			<label>Opptak av bandet</label>
			<textarea class="form-control" name="lenker"></textarea>
			<p>
				Vi trenger å se bandet. Lim inn lenker til film(er) av bandet - én per linje.
				<br />
				Hvis dere ikke har en film nå, kan dere ettersende dette senere.
			</p>
		</div>
		
		<div class="form-group">
			<label>Andre lenker / informasjon</label>
			<textarea class="form-control" name="annet"></textarea>
			<p>
				Her kan du lime inn lenker til facebook-side eller lignende, 
				eller skrive litt om bandet hvis du ønsker det.
			</p>
		</div>
		
		<button type="submit" class="btn btn-success">Send inn!</button>
	</form>
{% endblock %}