<p>&nbsp;</p>
<div class="row">
	<div class="text-center delta-header page-separator">
		<h1 class="page-header">Vi leter etter et rockeband til kinofilmen "Los Bando"</h1>
	</div>
</div>

{% if hideCampaign %}
	<p>
		Vi har registrert at du er interessert. Har du spørsmål? Kontakt <a href="mailto:{{ epost_spm }}">produksjonsselskapet Filmbin</a>.
	</p>
{% else %}
	<p class="lead">
		Vil du være med og vise fram musikken din i en ny, norsk kinofilm med premiere i 2018?
		<span class="label label-info">Frist: 28.februar</span>
	</p>
	<p>
		Kinofilmen "Los Bando" ser etter et rockeband til innspillingen av sin roadmovie om musikk og vennskap. 
		Filmen spilles inn våren 2017, og kommer på kino i 2018. 
		Når bandet Los Bando kommer til "NM i Rock", er det et UKM-band som skal stå på scenen og spiller låta si. 
		En jury bestående av bl.a. filmens regissør og komponist vil velge ut et av UKM-bandene til denne rollen.
	</p>
	<p>
		De som melder interesse for å være med i filmen kan også bli valgt ut til å spille på premierer rundt i Norge, eller som en del av promo-turnéen.
	</p>
	<a href="{{ url('ukm_campaign_2017_los_bando') }}" class="btn btn-success">Vi er interessert!</a>
{% endif %}