{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}
	<form class="delta-form " method="POST" action="{{ path('ukmid_delta_ukmid_pamelding_musikk_lagre_ny_person', { k_id: k_id, pl_id: pl_id, b_id: b_id }) }}">
		<div class="form-group"> 
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Fornavn</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="fornavn" class="form-control" placeholder="">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Etternavn</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="etternavn" class="form-control" placeholder="">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Alder</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<select name="alder" class="form-control delta-select">
						<option value="" selected disabled>Velg riktig alder</option>
						{% for i in 10..25 %}
							<option value="{{ i }}">{{ i }} år</option> 
						{% endfor %}
							<option value="0">Over 25 år</option>
					</select>
					<span class="caret delta-caret"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Mobilnummer</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="mobil" class="form-control" placeholder="">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Instrument</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="instrument" class="form-control" placeholder="">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<small class="delta-subtext left">Skriv inn hva <span id="delta-instrument-fornavn">personen</span> spiller/gjør (f.eks vokal, bass, gitar)</small>
				</div>
			</div>

			<button type="submit" class="btn btn-block btn-delta">Lagre</button> 
		</div>
	</form>

{% endblock %}