{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}
	<h1 class="center">Legg til l책t</h1>
	<form class="delta-form form-group" method="POST" action="{{ path('ukmid_delta_ukmid_pamelding_musikk_innslag_lagre_ny_tittel', { k_id: k_id, pl_id: pl_id, b_id: b_id }) }}">
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>Tittel</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input type="text" name="tittel" class="form-control" placeholder="Eks. Skyfall, I will survive...">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>Lengde</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<select name="lengde" class="form-control">
					<option value="0" selected disabled>Velg lengde p책 innslaget</option>
					{% for i in 0..60 %}
						<option value="{{ i * 10 }}">{{ (i / 6)|round(0, 'floor') }} min{% if ((i % 6) * 10 ) != 0 %}, {{ (i % 6) * 10 }} sek</option>
							{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>Har l책ta tekst, eller er det en instrumental?</small>
			</div>
		</div>
		<div class="col-xs-12">
			<label class="radio-inline"><input type="radio" name="sangtype" value="sang">Tekst</label>
			<label class="radio-inline"><input type="radio" name="sangtype" value="instrumental">Instrumental</label>
		</div>
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>Har du/dere laget l책ta selv?</small>
			</div>
		</div>
		<div class="col-xs-12">
			<label class="radio-inline"><input type="radio" name="selvlaget" value="1" selected>Ja</label>
			<label class="radio-inline"><input type="radio" name="selvlaget" value="0">Nei</label>
		</div>
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>Tekst av</small>
			</div>
		</div>
		<div class="row" id="tekst-rad">
			<div class="col-xs-12">
				<input type="text" name="tekstforfatter" class="form-control" placeholder="">
			</div>
		</div>
		<div class="row" id="melodi-rad">
			<div class="col-xs-12 delta-input-header">
				<small>Melodi av</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input type="text" name="melodiforfatter" class="form-control" placeholder="">
			</div>
		</div>
		<p>&nbsp;</p>
		<button type="submit" class="btn btn-block btn-delta">Lagre</button>
	</form>

{% endblock %}