{% extends "UKMDeltaBundle:Tittel:skjema.html.twig" %}

{% block form_body %}
	{{ parent() }}
	<div class="row">
		<div class="col-xs-12 delta-input-header">
			<small>Har låta tekst, eller er det en instrumental?</small>
		</div>
	</div>
	<div class="col-xs-12" id="tekst-valg">
		<label class="radio-inline"><input type="radio" name="sangtype" value="sang" checked>Tekst</label>
		<label class="radio-inline"><input type="radio" name="sangtype" value="instrumental">Instrumental</label>
	</div>
	<div class="row">
		<div class="col-xs-12 delta-input-header">
			<small>Har du/dere laget låta selv?</small>
		</div>
	</div>
	<div class="col-xs-12"  id="melodi-valg" >
		<label class="radio-inline"><input type="radio" name="selvlaget" value="1">Ja</label>
		<label class="radio-inline"><input type="radio" name="selvlaget" value="0" checked>Nei</label>
	</div>
	<div class="row" id="tekst-rad">
		<div class="col-xs-12 delta-input-header">
			<small>Tekst av</small>
		</div>
		<div class="col-xs-12">
			<input type="text" required name="tekstforfatter" class="form-control" placeholder="" value="{{ tittel is defined and tittel.get('t_id') > 0 ? tittel.get('tekst_av') : '' }}">
		</div>
	</div>
	<div class="row" id="melodi-rad">
		<div class="col-xs-12 delta-input-header">
			<small>Melodi av</small>
		</div>
		<div class="col-xs-12">
			<input type="text" required name="melodiforfatter" class="form-control" placeholder="" value="{{ tittel is defined and tittel.get('t_id') > 0 ? tittel.get('melodi_av') : '' }}">
		</div>
	</div>
{% endblock %}