<div id="paamelding-meld-av">
	<div class="header-top">
		<div class="category-tittel">
			<div class="mini-label-style label">
				<span>Film</span>
			</div>
		</div>
		<div class="buttons">
			<button class="small-button-style mini" onclick="goToAngreMeldAv()>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="2.5 0 25 25" style="fill: #fff; transform: ;msFilter:;">
					<path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
				</svg>
			</button>
		</div>
	</div>
	<div class="inner">
		<div class="row m-0">
			<div class="nop col-6 align-self-center">
				<p class="description">du holder på å slette</p>
				<h5 class="name">Navn på bidrag som kan strekkes over 2 linjer</h5>
				<div class="members">
					<button class="round-style-button slett-paamelding">
						<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 24 24" style="fill: #FFF; margin-right: 0.5rem">
							<path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm10.618-3L15 2H9L7.382 4H3v2h18V4z"></path>
						</svg>
						<span>Meld av</span>
					</button>
				</div>
			</div>
			<div class="nop col-6">
				<img class="name" src="https://assets.{{ UKM_HOSTNAME }}/img/delta-nytt/delete_trash.png"/>
			</div>
		</div>
	</div>
</div>
