{% extends 'UKMDesign/Layout/base.html.twig'|UKMpath %}

{% block javascripts %}
	{% block additional_js %}{% endblock %}
    {% javascripts 
        '@UKMDeltaBundle/Resources/public/js/ukmdesignbundle.js'
        '@UKMDeltaBundle/Resources/public/js/h5validate.jquery.js'
        '@UKMDeltaBundle/Resources/public/js/autogrow.jquery.js'
        '@UKMDeltaBundle/Resources/public/js/one_page_ukm/eventElement.js'
        '@UKMDeltaBundle/Resources/public/js/one_page_ukm/UKMOnePage.js'
        '@UKMDeltaBundle/Resources/public/js/deltaOnePage.js'
         %}
        <script src="{{ asset_url }}"></script> 
    {% endjavascripts %}
{% endblock %}

{% block content %}
	{% stylesheets
		'@UKMDeltaBundle/Resources/public/css/index.css' %}
		<link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
	{% endstylesheets %}
	
	{% if app.session.flashBag.peekAll()|length > 0 %}
		<div class="container">
			<div class="row">
				<div class="col-12">
					{% embed "UKMDeltaBundle:FlashBag:list.html.twig" %}{% endembed %}
				</div>
			</div>
		</div>
	{% endif %}

	{% block delta_content %}Designfil mangler delta_content-block.{% endblock %}
{% endblock %}