{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}	
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Oops! Noe gikk galt</h1>
				
			<p class="lead center">
				{{ message }}
			</p>
		
			<p>&nbsp;</p>		
			
			<a href="{{ path('ukm_delta_homepage') }}" class="btn-primary btn-block center">Gå til forsiden</a>
			{# <a href="{{ url('fos_user_security_login') }}" class="btn-primary btn-lg btn-block center">Gå til innlogging</a>
			<p>&nbsp;</p> #}
		</div>
	</div>
{% endblock %}