<!-- HEADER -->

<div id="pageAllInnslag" 
    class="container main-container page hide" 
    alone="true" 
    header-main-text="Hei, {{ user.getFirstName }}" 
    header-under-text="Kult å se deg tilbake her igjen! Fortsett der du slapp med å trykke på knappen under!">
	
    <div class="buttons-paamelding">
		<div class="display-flex" v-if="alle_innslag && alle_innslag.length > 0 && alle_innslag[1][1].length > 0">
			<button @click="continueLastInnslag" class="round-style-button paamelding">
				<span class="text">Fortsett der du slapp</span>
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(216, 33%, 97%)">
					<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
				</svg>
			</button>
			<button @click="startNyPaamelding" class="round-style-button mini">
				<span class="">+</span>
			</button>
		</div>
		<div v-else>
			<button @click="startNyPaamelding" class="round-style-button paamelding">
				<span class="text">Start en ny påmelding</span>
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(216, 33%, 97%)">
					<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</div>
	</div>

	{% set fullforte_paameldinger = alle_innslag|filter(innslag => innslag.erPameldt() and not innslag.getHome().erFerdig()) %}
	{% set ikkeFulforte_paameldinger = alle_innslag|filter( innslag => not innslag.erPameldt() and not innslag.getHome().erFerdig()) %}
	{% set isPaameldingNull = fullforte_paameldinger|length < 1 and ikkeFulforte_paameldinger|length < 1 %}		

	<div class="paameldinger fullforte">
		{% if not isPaameldingNull %}

		{% endif %}
		<div>
			<!-- ingen innslag -->
			<div v-if="alle_innslag.length < 1 || (alle_innslag[0][1].length < 1 && alle_innslag[1][1].length < 1)">
				<div class="no-innslag-div">
					<img :src="['https://assets.' + getCurrentDomain() + '/img/delta-nytt/not_found_events.gif']" :class="{ 'hide' : !loaded }" />
				</div>
			</div>
			<div v-else v-for="innslagCategory in alle_innslag">
				<h3 v-if="innslagCategory[1].length > 0" class="tittle">#{ innslagCategory[0] }</h3>

				<div v-for="innslag in innslagCategory[1]" class="paamelding-box" :class="{ 'hide-up-gently' : innslag.innslag.deleted }">
					<div class="slett-beskjed" :class="{ 'hide' : !innslag.innslag.deleted }" v-bind:innslag-id="innslag.innslag.id">
						<div class="beskjed-box">
							<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: #A0AEC0; transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-1.999 14.413-3.713-3.705L7.7 11.292l2.299 2.295 5.294-5.294 1.414 1.414-6.706 6.706z"></path></svg>
							<p class="text">Bidraget ble slettet</p>
						</div>
					</div>

					<div class="header-top">
						<div class="category-tittel">
							<div class="mini-label-style label">
								<span>#{innslag.innslag.isVenteliste ? "Workshop" : innslag.innslag.type.name}</span>
							</div>
							<div v-if="innslag.innslag.isVenteliste" class="mini-label-style label">
								<span>Venteliste</span>
							</div>
						</div>
						<div class="buttons">
							<!-- /ukmid/pamelding/{k_id}-{pl_id}/{type}/{b_id}/ -->
							<div v-if="!innslag.innslag.isVenteliste">
								<button v-if="innslag.innslag.home && innslag.innslag.home.frist_1 > Math.floor(Date.now() / 1000)" @click="redirectToInnslagOverview(innslag.innslag)" class="small-button-style hover-button-delta mini">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: #fff; transform: ;msFilter:;"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg>
								</button>
								<button v-else class="small-button-style hover-button-delta mini tooltip-btn disabled" data-toggle="tooltip" data-placement="top" title="Påmeldingsfristen har gått ut!">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: #fff; transform: ;msFilter:;"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg>
								</button>
							</div>
							
							<button @click="showDelete(innslag.innslag)" class="small-button-style hover-button-delta mini go-to-meld-av">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="2.5 0 25 25" style="fill: #fff; transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
							</button>
						</div>
					</div>
					<div class="inner" :class="{ 'make-space' : innslag.innslag.showDelete }">
						<div class="row">
							<div class="col-6 innslag-info">
								<p class="description">Navn på gruppe</p>
								<h5 class="name nop">#{innslag.innslag.navn}</h5>
								<p class="description"></p>
							</div>
							<div class="col-6 meld-av-bilde">
								<img :class="{ 'opacity-hidden' : !innslag.innslag.showDelete }" :src="['https://assets.' + getCurrentDomain() + '/img/delta-nytt/meld-av.png']" />
							</div>
						</div>
						<div class="members">
							<div v-if="!innslag.innslag.isVenteliste" class="avatars-div" :class="innslag.innslag.showDelete ? 'hide-gently' : 'show-gently'">
								<div class="avatars">
									<img v-for="innslag in innslag.personer" class="avatar" :src="['https://assets.' + getCurrentDomain() + '/img/delta-nytt/avatar-female.png']" />
								</div>
								<span class="total">#{ innslag.personer.length } medlem#{ innslag.personer.length > 1 ? 'er' : '' }</span>
							</div>
							<div v-else :class="innslag.innslag.showDelete ? 'hide-gently' : 'show-gently'">

								<div v-if="innslag.innslag.isVenteliste" class="venteliste-row" style="">
									<div class="fade-effect-venteliste"></div>
									<div style="display: flex">
										<div class="virtual-person">
											<div class="img-avatar">
												<img src="https://assets.ukm.dev/img/delta-nytt/avatar-female.png" class="avatar">
											</div>
										</div>
										<div class="virtual-person">
											<div class="img-avatar">
												<img src="https://assets.ukm.dev/img/delta-nytt/avatar-female.png" class="avatar">
											</div>
										</div>
										
										<div class="virtual-person venteliste-pos">
											<div class="img-avatar">
												<img src="https://assets.ukm.dev/img/delta-nytt/avatar-female.png" class="avatar">
											</div>
											<p class="pos">#{innslag.innslag.ventelistePosisjon}</p>
										</div>
										<div :class="{ 'visibility-hidden' : innslag.innslag.ventelistePosisjon < 2 }" class="virtual-person">
											<div class="img-avatar">
												<img src="https://assets.ukm.dev/img/delta-nytt/avatar-female.png" class="avatar">
											</div>
										</div>
										<div :class="{ 'visibility-hidden' : innslag.innslag.ventelistePosisjon < 3 }" class="virtual-person">
											<div class="img-avatar">
												<img src="https://assets.ukm.dev/img/delta-nytt/avatar-female.png" class="avatar">
											</div>
										</div>
									</div>
									<div class="fade-effect-venteliste right"></div>
								</div>

								<span class="total venteliste">Du står på venteliste plass nr. #{innslag.innslag.ventelistePosisjon}</span>
							</div>
							<div class="slett-paamelding-div" :class="innslag.innslag.showDelete ? 'show-gently' : 'hide-gently'">
								<button @click="deleteInnslag(innslag.innslag)" v-bind:innslag-id="innslag.innslag.id" class="round-style-button slett-paamelding">
									<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 24 24" style="fill: #FFF; margin-right: 0.5rem">
										<path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm10.618-3L15 2H9L7.382 4H3v2h18V4z"></path>
									</svg>
									<span v-if="innslag.innslag.isVenteliste">Meld meg av fra ventelisten</span>
									<span v-else>Meld av</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% javascripts 
	'@UKMDeltaBundle/Resources/public/js/vue-object-pages/allInnslag.js'
%}
	<script src="{{ asset_url }}" type="text/javascript"></script> 
{% endjavascripts %}

