<!-- Main Header -->
{% block header %}
{% stylesheets
    '@UKMDeltaBundle/Resources/public/css/header.css' %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
{% endstylesheets %}

<div class="container-fluid main-header">
	<div class="inner">
		
		<div class="round-bottom-bolge">
			<div class="row ">
				<div class="col-6">
				</div>
				<div class="right-side-img-header col-6">
					<img class="bolge-img" src="https://assets.{{ UKM_HOSTNAME }}/img/delta-nytt/header-bolger.png" />
				</div>
				
				<div class="container header-content-paamelding">
					<div class="col-12 info">
						<h1 id="headerMainText" class="mt-0">{{headerMainText is defined ? headerMainText : " "}}</h1>
						<p id="headerUnderText" class="lead">{{headerUnderText is defined ? headerUnderText : " "}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
