<!-- Main Header -->
<div class="container-fluid main-header-paamelding">
	<div class="inner">
		
		<div class="round-bottom-bolge">
			<div class="row ">
				<div class="col-6">
				</div>
				<div class="right-side-img col-6">
					<img class="bolge-img" src="https://assets.{{ UKM_HOSTNAME }}/img/delta-nytt/header-bolger.png" />
				</div>
				
				<div class="container header-content-paamelding">
					<div class="col-12 info">
						<h1 id="headerMainText" class="mt-0"></h1>
						<p id="headerUnderText" class="lead"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>