{% stylesheets
	'@UKMDeltaBundle/Resources/public/css/innslag-velg-type.css' 
	%}
	<link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
{% endstylesheets %}

<div 
	id="pageVelgInnslagType" 
	alone="true"
	header-main-text="Hva har du lyst til?" 
    header-under-text="Enten du liker å danse, lage mat eller noe helt annet, så gleder vi oss til å se hva du vil vise frem!"
	class="container main-container page hide">
	
	<type-innslag-component ref="innslagsType"></type-innslag-component>
	<type-innslag-component ref="jobbeMedType"></type-innslag-component>

	
</div>

{% javascripts 
	'@UKMDeltaBundle/Resources/public/js/vue-object-pages/velgInnslagtype.js'
%}
	<script src="{{ asset_url }}" type="text/javascript"></script> 
{% endjavascripts %}