{% extends "UKMUserBundle::layout.html.twig" %}

{% block delta_content %}
	<div class="container">	
		<div class="row">
			<div class="col-12 paamelding-box big-box">
				{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
			</div>
		</div>
	</div>
{% endblock delta_content %}
