{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	<div class="alert alert-info">
		<strong>Har du også fått et merkelig passord?</strong><br />
		Alle våre passord trekkes tilfeldig ut fra den norske ordboka, og innimellom blir de litt merkelige. Her kan du velge ditt eget passord.
	</div>
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
