{% extends "UKMDesignBundle::layout.html.twig" %}

{% block content %}
	<form method="post" action="{{ path('ukm_user_registration_validate_sms') }}">
		<h1 class="center">Skriv inn kode</h1>
		
		{% embed "UKMDesignBundle:FlashBag:list.html.twig" %}{% endembed %}
		
		<p class="lead center">
			Vi har sendt en SMS-kode til <span class="bold">din mobil</span>
			<br />
			Skriv inn denne i feltet nedenfor.
		</p>
		<div class="form-group">
			<label for="name">SMS-kode</label>
			<input value="" type="text" class="form-control" id="smscode" name="smscode" placeholder="Skriv inn koden..." />
		</div>
		
		<button type="submit" class="btn-primary btn-lg btn-block center" name="submit">Neste</button>
	</form>
{% endblock %}