{% extends "UKMUserBundle::layout.html.twig" %}

{% block content %}
	<div class="container">	
		<div class="row">
			<div class="col-12">
				<h1 class="center">E-postadressen {{ email }} er allerede registrert</h1>
		
				<span class="lead center">Logg inn med mobilnummer som vanlig, og du vil få opp en knapp for å koble til Facebook.</span>
				<p>&nbsp;</p>
				<a href="{{ path('ukm_user_login') }}" class="btn btn-outline-primary btn-block btn-large">Logg inn</a>
			</div>
		</div>
	</div>
{% endblock %}