{% extends 'UKMUserBundle::layout.html.twig' %}

{% block scripts %}
{% endblock %}

{% block content %}
	<h1>Hvor gammel er du?</h1>
	<form method="post" action="">
		<input type="hidden" name="skjema" value="alder" />
		<button type="submit" class="btn btn-block btn-primary" name="alder" value="24">Blæ</button>
	</form>
{% endblock %}