{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}	
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Beklager, en feil har oppstått 😥</h1>
                <p class="lead">Feilkode: {{ id }}</p>
            </div>
        </div>
    </div>
{% endblock %}