{% extends "UKMUserBundle::layout.html.twig" %}

{% block content %}
	<div class="container">	
		<div class="row">
			<div class="col-12">
				<h2>Sjekk SMS</h2>
				<p>Vi har n책 sendt deg SMS med en lenke du m책 trykke p책 for 책 nullstille passordet ditt.</p>
				
				<p>
					Hvis du ikke mottar SMS, <a href="mailto:support@ukm.no?subject=Nullstille passord">ta kontakt med support</a>
				</p>
			</div>
		</div>
	</div>
{% endblock content %}