{% extends "UKMUserBundle::layout.html.twig" %}


{% block delta_content%}
	<div class="container">	
		<div class="row">
			<div class="col-12">
				<h1 class="mt-0">SMS allerede sendt</h1>
				<p>
					Vi har allerede sendt deg en SMS for nytt passord de siste 24 timene. 
					<br />
					<small>(SMS sendt {{ sent|date('d.m.Y') }} kl. {{ sent|date('H:i') }})</small>
				</p>
				<p>
					Vi sender kun én SMS for passordnullstilling per dag. 
					Hvis du ikke mottar SMS, <a href="mailto:support@ukm.no?subject=Nullstille passord">ta kontakt med support</a>
				</p>
				
				<p>&nbsp;</p>
				
				<a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-primary btn-block">Tilbake til innlogging</a>
			</div>
		</div>
	</div>
{% endblock %}
