ukm_user_registration_check_sms:
    path:     /register/check-sms
    defaults: { _controller: UKMUserBundle:Registration:checkSMS }

ukm_user_registration_check_sms_ajax:
    path:     /register/checkSMS-ajax/{phone}
    defaults: { _controller: UKMUserBundle:Registration:SMSAjax }
    requirements:
        phone: ([0-9]{8})

ukm_user_registration_validate_sms:
    path:     /register/validate-sms
    defaults: { _controller: UKMUserBundle:Registration:validateSMS }

ukm_user_registration_no_sms:
    path:     /register/no-sms/{phone}
    defaults: { _controller: UKMUserBundle:Registration:noSMS }
    requirements:
        phone: ([0-9]{8})

ukm_user_registration_waiting_for_sms:
    path:     /register/wait-sms/{phone}
    defaults: { _controller: UKMUserBundle:Registration:waitSMS }
    requirements:
        phone: ([0-9]{8})

ukm_user_registration_existing_phone:
    path:     /register/phone-exists-{phone}
    defaults: { _controller: UKMUserBundle:Registration:phoneExists }

# FB-login
ukm_delta_fb_login:
    path:     /fblogin/
    defaults: { _controller: UKMUserBundle:UKMSecurity:fblogin}

ukm_user_login:
    path:     /login
    defaults: { _controller: UKMUserBundle:UKMSecurity:login }

ukm_dip_entry:
    path:     /dip/token
    defaults: { _controller: UKMUserBundle:UKMDip:token }

