services:
    app.form.registration:
        class: UKMNorge\UserBundle\Form\RegistrationType
        tags:
            - { name: form.type, alias: UKM_user_registration }
    ukm_user.registration_listener:
        class: UKMNorge\UserBundle\EventListener\RegistrationListener
        arguments:
            - @service_container
        tags:
            - { name: kernel.event_subscriber }
    ukm_user:
        class: UKMNorge\UserBundle\Services\UserService
        arguments:
            - @service_container

    ukm_user.mailer:
        class: UKMNorge\UserBundle\Mailer\Mailer
        arguments:
            - '@service_container'
            - '@mailer'
            - '@router'
            - '@twig'
            -
                template:
                    confirmation: '%fos_user.registration.confirmation.template%'
                    resetting: '%fos_user.resetting.email.template%'

#    ukm_user.example:
#        class: UKMNorge\UserBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]
