services:
    app.form.registration:
        class: UKMNorge\UserBundle\Form\RegistrationType
        tags:
            - { name: form.type, alias: UKM_user_registration }
    ukm_user.registration_listener:
        class: UKMNorge\UserBundle\EventListener\RegistrationListener
        arguments:
            - @service_container
        tags:
            - { name: kernel.event_subscriber }
    ukm_user:
        class: UKMNorge\UserBundle\Services\UserService
        arguments:
            - @service_container

    ukm_user.mailer:
        class: UKMNorge\UserBundle\Mailer\Mailer
        arguments:
            - '@service_container'
            - '@mailer'
            - '@router'
            - '@twig'
            -
                template:
                    confirmation: '%fos_user.registration.confirmation.template%'
                    resetting: '%fos_user.resetting.email.template%'

    ukm_user.user_provider:
        class: UKMNorge\UserBundle\Security\Provider\UserProvider
        public: false
        arguments: ["@fos_user.user_manager"]

    ukm_user.security.authentication.handler.login_success_handler:
        class: 'UKMNorge\UserBundle\Security\Authentication\Handler\LoginSuccessHandler'
        arguments:  ["@router", "@security.context", "@doctrine", "@ukm_user", "@service_container"]
    UKM.urlsigner:
        class: 'UKMNorge\UserBundle\Services\URLSignerService'
        arguments: ["@doctrine"]
#    ukm_user.example:
#        class: UKMNorge\UserBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]
