UKMNorge\UserBundle\Entity\User:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: email
            errorPath: email
            message: fos_user.email.already_used
            groups: [ "UKM_user_registration", "AcmeProfile" ]
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: phone
            errorPath: phone
            message: fos_user.phone.already_used
            groups: [ "UKM_user_registration", "AcmeProfile" ]

    properties:
    # Your custom fields in your user entity, here is an example with FirstName
        first_name:
            - NotBlank:
                message: UKMuser.first_name.blank
                groups: [ "UKM_user_registration" ]
            - Length:
                min: 2
                minMessage: UKMuser.first_name.short
                max: 255
                maxMessage: UKMuser.first_name.long
                groups: [ "UKM_user_registration" ]
        last_name:
            - NotBlank:
                message: UKMuser.last_name.blank
                groups: [ "UKM_user_registration" ]
            - Length:
                min: 1
                minMessage: UKMuser.last_name.short
                max: 255
                maxMessage: UKMuser.last_name.long
                groups: [ "UKM_user_registration" ]
        phone:
            - NotBlank:
                message: UKMuser.phone.blank
                groups: [ "UKM_user_registration" ]
            - Length:
                min: 8
                minMessage: UKMuser.phone.short
                max: 8
                maxMessage: UKMuser.phone.long
                groups: [ "UKM_user_registration" ]



# Note: We still want to validate the email
# See FOSUserBundle/Resources/config/validation/orm.xml to understand
# the UniqueEntity constraint that was originally applied to both
# username and email fields
#
# As you can see, we are only applying the UniqueEntity constraint to 
# the email field and not the username field.
FOS\UserBundle\Model\User:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: 
             fields: email
             errorPath: email 
             message: fos_user.email.already_used
             groups: [ "UKM_user_registration", "AcmeProfile" ]

    properties:
        email:
            - NotBlank:
                message: fos_user.email.blank
                groups: [ "UKM_user_registration", "AcmeProfile" ]
            - Length:
                min: 2
                minMessage: fos_user.email.short
                max: 255
                maxMessage: fos_user.email.long
                groups: [ "UKM_user_registration", "ResetPassword" ]
            - Email:
                message: fos_user.email.invalid
                groups: [ "UKM_user_registration", "AcmeProfile" ]
        plainPassword:
            - NotBlank:
                message: fos_user.password.blank
                groups: [ "UKM_user_registration", "ResetPassword", "ChangePassword" ]
            - Length:
                min: 2
                minMessage: fos_user.password.blank
                groups: [ "UKM_user_registration", "AcmeProfile", "ResetPassword", "ChangePassword"]

FOS\UserBundle\Model\Group:
    properties:
        name:
            - NotBlank:
                message: fos_user.group.blank
                groups: [ "UKM_user_registration" ]
            - Length:
                min: 2
                minMessage: fos_user.group.short
                max: 255
                maxMessage: fos_user.group.long
                groups: [ "UKM_user_registration" ]

FOS\UserBundle\Propel\User:
    properties:
        email:
            - NotBlank:
                message: fos_user.email.blank
                groups: [ "UKM_user_registration", "AcmeProfile" ]
            - Length:
                min: 2
                minMessage: fos_user.email.short
                max: 255
                maxMessage: fos_user.email.long
                groups: [ "UKM_user_registration", "ResetPassword" ]
            - Email:
                message: fos_user.email.invalid
                groups: [ "UKM_user_registration", "AcmeProfile" ]

        plainPassword:
            - NotBlank:
                message: fos_user.password.blank
                groups: [ "UKM_user_registration", "ResetPassword", "ChangePassword" ]
            - Length:
                min: 2
                minMessage: fos_user.password.blank
                groups: [ "UKM_user_registration", "AcmeProfile", "ResetPassword", "ChangePassword"]


FOS\UserBundle\Propel\Group:
    properties:
        name:
            - NotBlank:
                message: fos_user.group.blank
                groups: [ "UKM_user_registration" ]
            - Length:
                min: 2
                minMessage: fos_user.group.short
                max: 255
                maxMessage: fos_user.group.long
                groups: [ "UKM_user_registration" ]