{% extends 'UKMDeltaBundle::layout.html.twig' %}

{% block scripts %}
{% endblock %}

	
{% block delta_content%}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 ml-auto mr-auto">
				
				<h1>
					Sjekk hvilken informasjon vi har om deg
				</h1>
				
				<p class="lead">
					Åpne lenken du har fått tilsendt på mobilen din eller logg inn og gå via Din Side for å se denne siden.
				</p>
				
				<p>
					<a href="{{ path('ukm_delta_homepage') }}" class="btn btn-outline-primary">
						Din Side
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}