{% extends 'UKMDeltaBundle::layout.html.twig' %}

{% block scripts %}
{% endblock %}

	
{% block content %}

	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<h2 class="center">Sjekk hvilken informasjon vi har om deg</h2>
		<p class="lead center">Åpne lenken du har fått tilsendt på mobilen din eller logg inn og gå via Din Side for å se denne siden.<br><br><a class="lead center" href="{{ path('ukm_delta_homepage') }}">Din Side</a></p>

	</div>
{% endblock %}