{% extends 'UKMDeltaBundle::layout.html.twig' %}

{% block scripts %}
{% endblock %}

	
{% block content %}

	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<h2 class="center">Sjekk hvilken informasjon vi har om deg</h2>
		<p class="lead center">Denne funksjonen er ikke klar enda, vennligst sjekk tilbake <span class="danger" style="color: red;">mandag 11.04.</span></p>
	</div>
{% endblock %}