{% extends 'UKMDeltaBundle::layout.html.twig' %}

{% block scripts %}
{% endblock %}

	
{% block content %}

	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<h2 class="center">Sjekk hvilken informasjon vi har om deg</h2>
		<p class="lead center">Beklager, men vi finner ikke noen videresendte innslag for deg.</p>
		<p class="lead center">Mener du dette er feil? <a href="http://ukm.no/derdubor">Ta kontakt med din fylkeskontakt</a></p>
	</div>
{% endblock %}