{% extends 'UKMDeltaBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Sjekk hvilken informasjon vi har om deg</h1>
				
				<p class="lead">
					Beklager, men vi finner ikke noen videresendte innslag for deg.
				</p>
				<p>
					Mener du dette er feil? <a href="//ukm.no/derdubor">Ta kontakt med din fylkeskontakt</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}